@font-face {
    font-family: 'Roboto';
    src: url('fonts/roboto-regular.woff2') format('woff2'),
         url('fonts/roboto-regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

body, html {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
}
.container {
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(6, 1fr);
    min-height: 100vh;
    
}
.sidebar {
    grid-row: 1/ -1;
    grid-column: 1 / 3;
    background-color: #f97316;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
#dash{
    height: 5rem;
    margin-right: 1rem;
    margin-left: 2rem;
}
.sidebar h1{
    text-align: start;
    display: flex;
    align-items: center;
    font-size: 2.5rem;
    margin-top: 3rem;
}

.sidebar button.btn {
    display: block;
    width: 5rem;
    
}
#top{
    margin-top: 10rem;
}
.empty {
    margin-top: 10rem;
}
.options {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 1rem;
    margin-top: 2rem;
}
.options img{
    height: 4rem;
    margin-left: 1rem;
    margin-right: 1rem;
}
.options .btn {
    height: 2rem;
    text-decoration: none;
    background-color: transparent;
    border:none;
    cursor: pointer;
    font-size: 1.5rem;
}

.options .btn:hover{
    text-decoration: underline;
}

.header {
    grid-row: 1;
    grid-column: 3/-1;
    background-color: #4f46e5;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    color: white; 
}

.search-box{
    display: flex;
    align-items: center;
    height: 6rem;
}

.search-box img {
    height: 3rem;
}
.profile img {
    height: 3rem;
}
.search input {
    height: 1rem;
    width: 30rem;
    border-radius: 10px;
    margin-left: 1rem;
}
.profile {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-top: 2rem;
    font-size: 2rem;
}

.profile-info img{
    height: 5rem;
   
}

.profile-info {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    
}
.profile-info h2{
    margin: 0;
    margin-top: 0.5rem;
}

.head-btns {
    display: flex;
    gap: 2rem;
    margin-top: 5rem;
}

.head-btns button {
    font-size: 1.5rem;
    background-color: rgb(58, 150, 236);
    border-radius: 15px;
    cursor: pointer;
    text-decoration: none;
    color: white;
    padding-left: 1rem;
    padding-right: 1rem;
    border: none;
}
.rightSide {
    margin-right: 5rem;
}
.search {
    margin-left: 5rem;
}

.item-3 {
    grid-row: 2/-1;
    grid-column: 3/12;
    background-color: aquamarine;
}

.item-4 {
    background-color: blueviolet;
    grid-row: 2/ -1;
    grid-column: 12/-1;
}